body	{
	color: #363636;
	font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	font-size: 16px;
	 line-height: 1.2em;
}

ul.menu-category > li	{
	color: #363636;
	font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
	font-size: 16px;
	 line-height: 1.2em;
}